server {
    listen 8080;  # Nginx will listen on port 8080 inside the container

    server_name localhost;

    location / {
        proxy_pass http://web:8000;  # Forward requests to the Django container on port 8000
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Serve static files directly
    location /static/ {
        alias /app/static/;
    }

    # Serve media files directly
    location /media/ {
        alias /app/media/;
    }
}
